<div class="price-container">
    <span class="price-wrapper" data-bind="html: price"></span>
    <!-- ko if: item.discount_percentage > 0 -->
    <div class="old-price-wrapper">
        <span class="old-price">
            <span class="price" data-bind="html: item.regular_price"></span>
        </span>
        <span class="discount-badge"
              data-bind="html: item.discount_percentage + '% off'"></span>
    </div>
    <div class="saved-amount"
         data-bind="html: 'You Save: ' + item.saved_amount"></div>
    <!-- /ko -->
</div>