{{template config_path="design/email/header_template"}}
<!--@subject {{trans "Product Inquiry - %subject" subject=$subject}}   @-->
<!--@vars {
"var subject":"Subject",
"var usr_name":"Username",
"var email":"Email",
"var prd_name":"Product Name",
"var prd_sku":"Product Sku",
"var prd_url":"Product Url",
"var store_view":"Store View",
"var inq_msg":"Inquiry Message"
} @-->
<div>
	<h2 align="center">PRODUCT INQUIRY DETAILS</h2>
		<h3>
			<strong>Dear Admins,</strong>
		</h3>
		<p>
			<span>New Inquiry has been submitted</span>
		</p>
	<p><span><strong><u>Inquiry Details:</u></strong></span></p>
	<table cellpadding="5" width="100%" border="1" style="border-color: #ddd;">
		<tr>
			<td width="21%" ><b>Customer Name:</b></td>
			<td style="padding-left: 8px; " >{{var usr_name}}</td>
		</tr>
		<tr>
			<td width="21%" ><b>Customer E-mail:</b></td>
			<td style="padding-left: 8px; " >{{var email}}</td>
		</tr>
		<tr>
			<td width="21%" ><b>Subject:</b></td>
			<td style="padding-left: 8px; " >{{var subject}}</td>
		</tr>
		<tr>
			<td width="21%" ><b>Product Name:</b></td>
			<td style="padding-left: 8px; " >{{var prd_name}}</td>
		</tr>
		<tr>
			<td width="21%" ><b>Product SKU:</b></td>
			<td style="padding-left: 8px; " >{{var prd_sku}}</td>
		</tr>
		<tr>
			<td width="21%" ><b>Page Source:</b></td>
			<td style="padding-left: 8px; " >{{var prd_url}}</td>
		</tr>
		<tr>
			<td width="21%" ><b>Store View:</b></td>
			<td style="padding-left: 8px; " >{{var store_view}}</td>
		</tr>
		<tr>
			<td width="21%" ><b>Message:</b></td>
			<td style="padding-left: 8px;" >{{var inq_msg}}</td>
		</tr>
	</table>
</div>
{{template config_path="design/email/footer_template"}}
