<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <!--  for product image block -->
    <preference for="Magento\Catalog\Block\Product\Image" type="Sillove\Productlabels\Block\Product\Image" />


<!--  for swatch change discount change  -->
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Sillove_Productlabels_product_block" type="Sillove\Productlabels\Plugin\Product\View\Type\ConfigurablePlugin" sortOrder="1" />
    </type>
    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable">
        <plugin name="Sillove_Productlabels_product_model" type="Sillove\Productlabels\Plugin\Product\Type\ConfigurablePlugin" sortOrder="1" />
    </type>
<!--  over swatch change discount change  -->


    <virtualType name="SilloveProductLableFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SilloveProductLableFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Sillove\Productlabels\Model\ResourceModel\ProductLabel\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">SilloveProductLableFilterPool</argument>
        </arguments>
    </virtualType>

    <type name="Sillove\Productlabels\Model\ResourceModel\ProductLabel\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sillove_product_labels</argument>
            <argument name="eventPrefix" xsi:type="string">sillove_product_lable_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">tickets_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Sillove\Productlabels\Model\ResourceModel\ProductLabel</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="productlable_listing_data_source" xsi:type="string">Sillove\Productlabels\Model\ResourceModel\ProductLabel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!--  for image uploader -->
    <type name="Sillove\Productlabels\Model\ImageUploader">
        <arguments>
            <!-- Temporary file stored in pub/media/faq/tmp/icon -->
            <argument name="baseTmpPath" xsi:type="string">ProductLabel/temp</argument>
            <argument name="basePath" xsi:type="string">ProductLabel</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </type>
</config>
