<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
            id="Sillove_Testimonial::testimonial"
            title="Customer Testiomonials " 
            module="Sillove_Testimonial" 
            sortOrder="30"
            translate="title"
            resource="Sillove_Testimonial::testimonial"/>
        <add 
            id="Sillove_Testimonial::Sillove_Testimonial_grid"
            title="Manage Customer Testimonials" 
            translate="title"
            module="Sillove_Testimonial" 
            sortOrder="110"
            action="testimonial/index"
            resource="Sillove_Testimonial::Sillove_Testimonial_grid"
            parent="Sillove_Testimonial::testimonial"/>

        <add 
            id="Sillove_Testimonial::Sillove_Testimonial_config"
            title="Testimonial Slider Configurations" 
            translate="title"
            module="Sillove_Testimonial" 
            sortOrder="110"
            action="adminhtml/system_config/edit/section/testimonial"
            resource="Sillove_Testimonial::Sillove_Testimonial_config"
            parent="Sillove_Testimonial::testimonial"/>
    </menu>
</config>
