/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
*/

& when (@media-common = true) {
    .contact-index-index {
        #maincontent {
            margin-top: 0;
        }
        .page-main {
            max-width: 100%;
            padding: 0;

            .page-title-wrapper {
                display: none;
            }

            .column.main {
                padding-bottom: 0;
            }
        }
        .container {
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 1138px;
            padding-left: 20px;
            padding-right: 20px;
            width: auto;
        }
        
        .contact-banner-section {
            margin-bottom: 30px;
            margin-top: -23px;

            img {
                width: 100%;
            }
        }

        .contact-us-section {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 20px;
            margin-bottom: 30px;
        }
        .form.contact {
            max-width: ~"calc(100% / 2 - 74px)";
            width: 100%;
            padding: 30px;
            background: @color-white;
            border-radius: 18px;
            border: 1px solid @border-color-light;

            .fieldset {
                margin-bottom: 30px;
                .legend {
                    font-size: 15px;
                    font-weight: @font-weight__semibold;
                    color: @theme-primary-color;
                    padding: 0;
                    border: 0;
                }
            }

            .get-in-touch-img {
                margin-bottom: 30px;
            }

            .field {
                .label {
                    font-weight: @font-weight__heavier;
                }
                textarea {
                    height: 155px;
                }
            }
        }

        .contact-more-info {
            max-width: ~"calc(100% / 2 - 12px)";
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 24px;

            .icon-img {
                img {
                    width: 100%;
                    display: block;
                }
            }
        }

        .page-footer {
            margin-top: 0;
        }
    }

    @media only screen and (min-width: @screen__m) and (max-width: (@screen__l - 1)) {
        .contact-index-index {
            .contact-banner-section {
                margin-top: -28px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

//  Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .contact-index-index {
        .contact-banner-section {
            margin-bottom: 10px;
            margin-top: -16px;
        }
        .form.contact {
            max-width: 100%;
            padding: 15px;

            .get-in-touch-img {
                img {
                    max-width: 190px;
                    width: 100%;
                }
            }
        }
        .contact-more-info {
            max-width: 100%;
        }
    }
}
