<!--@subject {{trans "A new testimonial has been submitted"}} @-->
<!--@vars {
"var admin_name" :"Admin  Name",
"var name":"Customer Name",
"var text":"Testimonial Message",
"var rating_summary":"Rating",
"var store_name":"Store"

} @-->

{{template config_path="design/email/header_template"}}

<div class="email-container">
    <div class="email-body">
        <p><strong>Hello </strong>{{var admin_name}}</p>
        <p>A new testimonial has been submitted</p>
        <p><strong>Name:</strong> {{var name}}</p>
        <p><strong>Testimonial Message:</strong> {{var text}}</p>
        <p><strong>Rating:</strong> {{var rating_summary}}</p>
        <p><strong>Store:</strong> {{var store_name}}</p>
    </div>
    <div class="email-footer">
        <p>{{trans "Thank you,"}}</p>
    </div>
</div>

{{template config_path="design/email/footer_template"}}


