<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--  Apply Discount Coupon Block -->
    <preference for="Magento\Checkout\Block\Cart\Coupon" type="Codezspark\CouponList\Block\Cart\CouponList" />

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="set_custom_data" xsi:type="object">Codezspark\CouponList\Model\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
