@import 'owl.carousel.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .sparsh-testimonials-block{
        background: #E8F2FF;
        padding-top: 45px;

        .container {
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 188rem;
            padding-left: 45px;
            padding-right: 45px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .testimonial-image {
            max-width: 245px;
            width: 100%;

            img {
                width: 100%;
                display: block;
            }
        }
        .sparsh-testimonials-content-outer {
            max-width: ~"calc(100% - 400px)";
            width: 100%;
        }
        .sparsh-testimonials-content-outer-no{
            text-align: center;
            font-size: 32px;
            margin-bottom: 40px;
        }
    }

    @media only screen and (min-width: @screen__m) and (max-width: (@screen__l - 1)) {
        .sparsh-testimonials-block {
            .testimonial-image {
                max-width: 160px;
            }
            .sparsh-testimonials-content-outer {
                max-width: ~"calc(100% - 200px)";
            }
        }
    }

    @media only screen and (min-width: @screen__l) and (max-width: (@screen__xl - 1)) {
        .sparsh-testimonials-block {
            .testimonial-image {
                max-width: 200px;
            }
            .sparsh-testimonials-content-outer {
                max-width: ~"calc(100% - 260px)";
            }
        }
    }
}