//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .discount-badge {
        background: @theme-secondary-color;
        border: 0.5px solid @brown-color;
        border-radius: 3px;
        color: @brown-color;
        padding: 2px 5px;
        font-size: 12px;
        font-weight: @font-weight__heavier;
    }
    .saved-amount {
        color: @brown-color;
    }
}