.discount-badge {
    background: @theme-secondary-color;
    border: 0.5px solid @brown-color;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 12px;
    font-weight: @font-weight__heavier;
}