//
//  Color variables
//  _____________________________________________
@theme-primary-color: #1A3D5C;
@theme-secondary-color: #F6E9D1;
@theme__color__primary: @theme-primary-color;
@bg-color-red: #E26363;

//
//  Input
//  _____________________________________________
@input-placeholder-color: @theme-secondary-color;

//
//  Button
//  _____________________________________________
@button-primary__hover__border: 1px solid @theme__color__primary;
@button-primary__hover__color: @theme-primary-color;
@button__font-weight: @font-weight__heavier;
@button-primary__active__color: @theme-primary-color;
@button-primary__active__border: 1px solid @theme-primary-color;

//
//  Typography
//  _____________________________________________
@font-family-name__base: 'Poppins';


//
//  Navigation
//  _____________________________________________
@navigation__background: @theme-secondary-color;
@navigation-level0-item__line-height: normal;
@navigation-desktop__font-weight: @font-weight__regular;
@navigation-desktop-level0-item__color: @theme-primary-color;


//
//  Form variables
//  _____________________________________________
@form-element-input__height: 36px;
@form-element-input__padding: 0 18px;
@form-element-input__background: #f4f4f4;
@form-element-input__border: none;
@form-element-input__border-radius: 5px;
@form-element-input__font-size: 12px;
@form-element-input__color: #686868;
@form-element-input__font-weight: @font-weight__regular;


//
//  Focus
//  ---------------------------------------------
@focus__box-shadow: none;


//
//  Layout variables
//  _____________________________________________
@layout__max-width: 1390px;

//
//  Link
//  _____________________________________________
@link__color: @theme-primary-color;