// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        .lib-css(background, @navigation-desktop__background);
    }

    .nav-toggle {
        .lib-icon-text-hide();
        cursor: pointer;

        &:before {
            content: '';
            background: url('@{baseDir}/images/hamburger-icon.svg') no-repeat center;
            width: 19px;
            height: 16px;
            display: inline-block;
            background-size: 19px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation {
        padding: 0;

        .parent {
            .level-top {
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 42px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
                position: relative;

                &:after {
                    .lib-font-size(16);
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.ui-state-active {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }
        }

        .level0 {
            > .level-top {
                letter-spacing: 0.5px;
                &:hover {
                    background: @theme-primary-color;
                }
            }
            > li.level1 {
                font-weight: @font-weight__regular;
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: calc(~'100% - @{active-nav-indent}');

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: @font-weight__bold;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 42px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
                position: relative;

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                );
            }
        }

        .switcher-dropdown {
            .lib-list-reset-styles();
            display: none;
            padding: @indent__s 0;
        }

        .switcher-options {
            &.active {
                .switcher-dropdown {
                    display: block;
                }
            }
        }

        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;
            display: inline-block;
            width: 100%;

            li {
                font-size: 1.6rem;
                margin: 0;

                &.greet.welcome {
                    border-top: 1px solid @color-gray82;
                    font-weight: @font-weight__bold;
                    padding: .8rem @submenu__padding-left;
                }

                > a {
                    border-top: 1px solid @color-gray82;
                }
                a,
                a:hover {
                    padding: 15px;
                    letter-spacing: 0.5px;
                }
            }

            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: @font-weight__regular;
                padding: .8rem @submenu__padding-left;
            }

            .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: @z-index-10;
            background: @color-white;
        }

        .nav-toggle {
            &:after {
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 9;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: @color-white;
        border: solid darken(@navigation__background, 10%);
        border-width: 0 0 0 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%;

        &.active {
            background: @theme-primary-color;
            border-bottom: 0;

            a {
                color: @color-white;
            }
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;

        &.active {
            display: block;
        }
    }

    .lib-main-navigation();
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        position: fixed;
        top: 106px;
        left: 0;
        width: 100%;
        z-index: @z-index-2 - 1;
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
            padding: 0 45px;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }

    .navigation {
        .level0 {
            > .level-top {
                margin: 6px 0;
                font-family: "Inter";
                border-radius: 0 10px 0 0;
            }
        }
    }
}

& when (@media-common = true) {
    @media only screen and (min-width: @screen__m) and (max-width: (@screen__l - 1)) {
        .sections.nav-sections {
            top: 101px;
        }
    }
}