<!--@subject Customized Jewellery Request from {{var data.firstname}} {{var data.lastname}} @-->
<p>You have received a new customized jewellery request.</p>
<table>
    <tr>
        <th>First Name:</th>
        <td>{{var data.firstname}}</td>
    </tr>
    <tr>
        <th>Last Name:</th>
        <td>{{var data.lastname}}</td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>{{var data.email}}</td>
    </tr>
    <tr>
        <th>Mobile:</th>
        <td>{{var data.mobile}}</td>
    </tr>
    <tr>
        <th>Message:</th>
        <td>{{var data.message}}</td>
    </tr>
</table>
